# Snakemake internals
.snakemake*
__pycache__
.vscode
.ipynb_checkpoints
.mapbox_token

# Directory structure
data/bundle*
networks/*
resources/*
results/*
cutouts/*
docs/build/*
benchmarks/*
logs/*
gurobi.log

data/archive
notebooks/playgrounds
scripts/archive
config/archive

notebooks/network_playground.ipynb
~$model_file.xlsx
